@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #e0fade 0.89%,
    #c1f5be 17.23%,
    #9df09e 42.04%,
    #7deb81 55.12%,
    #36ff39 71.54%,
    #00FF00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.pill {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 8px;
}

.pill-blue {
  background-color: #2196f3;
  color: #fff;
}

.pill-green {
  background-color: #4caf50;
  color: #fff;
}

.pill-red {
  background-color: #f44336;
  color: #fff;
}

.microDraft {
  color: red;
}

.highlight {
  color: blue;
}

.square{
  background-color: black;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white; /* Set the text color to white */
}

.qb-square{
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: black; /* Set the text color to white */
  border: 1px solid white;

}

.rb-square{
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;  
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: blue;
  color: black; /* Set the text color to white */
  border: 1px solid white;

}

.wr-square{
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: green;
  color: black; /* Set the text color to white */
  border: 1px solid white;

}

.te-square{
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  background-color: yellow;
  color: black; /* Set the text color to white */
  border: 1px solid white;

}

.top-square {
  background-color: black;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white; /* Set the text color to white */
}

.bottom-square {
  background-color: black;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white; /* Set the text color to white */
}

.bottom-left-square {
  background-color: black;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  border-bottom-left-radius: 10px;
  color: white; /* Set the text color to white */
  border: 1px solid white;

}

.bottom-middle-square {
  background-color: black;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  /* box-shadow: 0px 5px 10px -5px rgba(255, 255, 255, 0.5); */
  color: white; /* Set the text color to white */
  border: 1px solid white;

}

.bottom-right-square {
  background-color: black;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  border-bottom-right-radius: 10px;
  color: white; /* Set the text color to white */
  border: 1px solid white;

}

/* Styles for small devices */
@media (max-width: 600px) {
  .bottom-square,
  .top-square,
  .te-square,
  .qb-square,
  .rb-square,
  .wr-square,
  .bottom-right-square,
  .bottom-middle-square,
  .bottom-left-square
   {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
}

.bottom-left-square.flip {
  transition: transform 0.5s ease-out;
  transform-style: preserve-3d;
}
.bottom-left-square.flip .back {
  transform: rotateY(0deg);
}
.bottom-left-square.flip .front {
  transform: rotateY(-180deg);
}
.bottom-left-square .front,
.bottom-left-square .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.bottom-left-square .front {
  transform: rotateY(0deg);
}
.bottom-left-square .back {
  transform: rotateY(180deg);
}

.image-size {
  width: 150vw;
  height: 150vh;
  max-width: 100%;
  max-height: 100%;
}

.image-container {
  position: relative;
}

.image-transition {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-visible {
  opacity: 1;
}

.text-div {
  color: grey;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 600px) {
  .text-div
   {
    
    font-size: 16px;
  }
}

@media (max-width: 599.98px) {
  .inline-block {
    display: none;
  }
}

@media (min-width: 600px) {
  .lg\:inline {
    display: inline;
  }
}






